<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatPurrfect</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="cat.png" type="image/png">
    <script>
        function submitMessage(event) {
            event.preventDefault();
            var messageInput = document.getElementById('message-input');
            var message = messageInput.value;
            messageInput.value = '';//clear input field

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/sendMessage", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    addMessageToChatHistory(JSON.parse(xhr.responseText));
                }
            };
            var data = JSON.stringify({ "message": message });
            xhr.send(data);
        }

        function addMessageToChatHistory(parsedData) {
            var chatHistory = document.getElementById('chat-history');
            chatHistory.innerHTML="";
            parsedData.forEach(function(item) {
                if (item.User){
                    var messageDiv = document.createElement('div');
                    var imageContainer = document.createElement('div');
                    imageContainer.classList.add('image-container');
                    messageDiv.classList.add('user-message')
                    messageDiv.innerHTML = "You" + ': ' + item.User;
                    messageDiv.appendChild(imageContainer);
                    chatHistory.appendChild(messageDiv);
                }
                if (item.Bot){
                    var messageDiv = document.createElement('div');
                    var imageContainer = document.createElement('div');
                    imageContainer.classList.add('image-container');
                    messageDiv.classList.add('bot-message')
                    messageDiv.innerHTML = "Bot" + ': ' + item.Bot;
                    messageDiv.appendChild(imageContainer);
                    chatHistory.appendChild(messageDiv);
                }
            });
            chatHistory.scrollTop = chatHistory.scrollHeight; 
        }
        var reset = "{{ resetStatus | safe }}";
        if (reset === "True"){
            alert("Reset!")
        }
        window.onload = function() { //loads current chat history
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/getMessage", true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    addMessageToChatHistory(JSON.parse(xhr.responseText));
                }
            };
            var data = JSON.stringify({ "message": "posting for message" });
            xhr.send(data);
        };
    </script>
</head>
<body>
    <div id="banner">
        <h2 style="display: inline; margin-left: 10px;">ChatPurrfect</h2>
        <img src="cat.png" alt="Icon" style="height:36px; width:36px;">
    </div>
    <div id="chat-history"></div>
    <form id="chat-form" onsubmit="submitMessage(event)">
        <input type="text" id="message-input" placeholder="Type your message here" required>
        <button type="submit">Send</button>
    </form>
</body>
</html>